node_id={{ repmgr_node_id }}
node_name='{{ repmgr_node_name }}'
{% if repmgr_conninfo is defined %}
conninfo='{{ repmgr_conninfo }}'
{% endif %}
{% if repmgr_data_directory is defined %}
data_directory='{{ repmgr_data_directory }}'
{% endif %}
